header {
    margin: 0 auto;
    text-align: center;
    padding-top: 300px;
}

header h1{
    margin: 0;
    font-size: 4rem;
    color: rgb(105, 95, 95);
}

header p{
    font-weight: 700;
    color: black;
    font-size: 1.75rem;
}


header a{
    box-shadow:  0 3px 3px 0 rgb(88, 77, 77);
    font-weight: 700;
    background-color: blue;
    border-color: black;
    color: aliceblue;
    padding: 1.25rem 2.5rem;
    text-decoration: none;
}