html {
    font-size: 0.5vw;
}

body {
    position: relative;
    background-color: #f2eedd;
    background-image: linear-gradient(to bottom, #7de2fc 0%, #ffecd2 100%);
    height: 400rem;
    min-height: 300vh;
    display: flex;
    align-items: center;
    justify-content: center;
}


